.bilder-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 4.42px;
  color: #020303;
  padding-top: 32px;
  padding-bottom: 18px;
}
img .bilder-img {
  display: block;
  width: 100%;
  height: 479px;
  border-radius: 8px;
  overflow: hidden;
}
