@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
.footer-container {
  margin: 46px 32px;
}
.footer-title {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.4px;
  color: #a3adba;
  padding-bottom: 12px;
}
.footer-text {
  font-size: 16px;
  letter-spacing: -0.4px;
  color: #9eabbb;
}
.footer-address-container {
  padding-bottom: 18px;
}

.googlemaps {
  display: block;
  padding-bottom: 18px;
}

.telephone {
  color: #000000;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.4px;
}
.telephone-text {
  color: #a3adba;
}
.footer-links {
  display: block;
  text-decoration: underline;
  margin-bottom: 10px;
}
