@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
.images-section {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 68px;
}
.images-section-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 4.42px;
  color: #020303;
  padding-top: 32px;
  padding-bottom: 18px;
}

.carousel-indicators {
  position: absolute;
  bottom: -80px;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  background: linear-gradient(180deg, #005be4 0%, rgba(0, 96, 241, 0) 100%),
    #004fc7;
  border: 1px solid #bed8ff;
  border-radius: 50%;
  margin-right: 26px;
}
button.carousel-control-prev,
button.carousel-control-next {
  visibility: hidden;
}

@include media-breakpoint-up(lg) {
}
.carousel-control-prev,
.carousel-control-next {
  visibility: visible;
  position: absolute;
  top: 102%;
  left: 40px;
  width: 126px;
  height: 78px;
  background: #ffffff;
  box-shadow: 0px 0px 21px rgba(64, 68, 75, 0.14);
  border-radius: 8px;
  opacity: 1;
}

.carousel-control-next {
  left: 200px;
}
.carousel-control-prev-icon {
  background-image: url('/images/prev-icon.svg');
}
.carousel-control-next-icon {
  background-image: url('/images/next-icon.svg');
}
.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
  filter: none;
}
