.images-section {
  padding-left: 8px;
  padding-right: 8px;
}
.images-section-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 4.42px;
  color: #020303;
  padding-top: 32px;
  padding-bottom: 18px;
}
.images-section-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;
  height: 479px;
  border-radius: 8px;
}
.ellipse-container {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.ellipse {
  width: 9px;
  height: 9px;
  background-color: rgb(245, 243, 243);
  border: 1px solid rgb(59, 59, 117);
  border-radius: 20px;
  box-sizing: border-box;
  margin-right: 24px;
}

.ellipse-active {
  background-color: blue;
  border: 1px solid blue;
}
