@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

.header-container {
  padding: 8px 24px;
  height: 42px;
}
.navbar {
  padding: 0px;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: #2e75ff;
}

.navbar-toggler {
  border: none;
  padding: 0;
}
.navbar-brand {
  display: block;
  margin: 0px;
  padding: 0px;
}
.logo-img {
  display: block;
}

@include media-breakpoint-up(lg) {
  .navbar-light .navbar-nav .nav-link {
    padding: 0px;
    margin-left: 20px;
    white-space: nowrap;
  }

  .header-container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@include media-breakpoint-up(xl) {
  .header-container {
    padding-left: 120px;
    padding-right: 120px;
  }
  .navbar .navbar-expand-lg .navbar-light {
    display: flex;
    justify-content: space-between;
  }
  #navbarSupportedContent {
    max-width: 1056px;
    justify-content: end;
  }
  ul.navbar-nav {
    display: flex;
    justify-content: space-between;
  }
}
