@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

.section-8px.related-links-container {
  text-align: center;
}
.related-links-list {
  padding-bottom: 64px;
}

li .related-links-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 64px;
  background-color: $backgroundBlueColor;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(48, 67, 133, 0.5);
  border-radius: 12px;
  margin-bottom: 8px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  line-height: 64px;
  font-size: 16px;
  letter-spacing: 1.42px;
  color: #fafbfe;
}
.related-links-item:last-child {
  padding-bottom: 0px;
}

@include media-breakpoint-up(lg) {
  .related-links-title {
    padding-bottom: 30px;
  }
  li .related-links-item {
    width: 296px;
    height: 64px;
  }
  .related-links-li {
    margin-right: 8px;
  }
  .related-links-li:nth-child(3n) {
    margin-right: 0px;
  }
  .related-links-list {
    flex-wrap: wrap;
  }
}
@include media-breakpoint-up(xl) {
  li .related-links-item {
    width: 394px;
    height: 64px;
  }
}
