section.related-liks-section {
  padding-top: 24px;
  padding-bottom: 65px;
  text-align: center;
}

li .related-links-item {
  display: block;
  width: 359px;
  height: 64px;
  background-color: #004fc7;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(48, 67, 133, 0.5);
  border-radius: 12px;
  margin-bottom: 8px;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
  line-height: 64px;
  font-size: 16px;
  letter-spacing: 1.42px;
  color: #fafbfe;
}
