.box-img-2 {
  max-width: 100%;
  max-height: 234px;
  // background: url('/images/img-2.jpg') no-repeat center;
  // background-size: cover;
}

.section-2-text {
  text-align: left;
  font-size: 17px;
  line-height: 32px;
  color: #45494f;
}
.section-title_blue {
  color: #1652ac;
}
