.box-img-2 {
  width: 414px;
  height: 234px;
  background-image: url('/images/img-2.jpg');
  background-size: cover;
}

.section-title_blue {
  color: #1652ac;
  transform: rotate(0.02deg);
}

.section-1-text {
  font-size: 17px;
  color: #45494f;
}
