.box-img-3 {
  width: 378px;
  height: 505px;
  background-image: url('/images/img-3.jpg');
  background-size: cover;
}
.blue-box {
  background: linear-gradient(180deg, #163da2 0%, #003584 100%);
}
.section-title_white {
  color: #fbfdff;
}
.section-2-text {
  font-size: 16px;
  letter-spacing: -0.4px;
  color: #fbfdff;
}
