@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

.section-1-title {
  margin: 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 170%;
  letter-spacing: -0.4px;
  padding-top: 56px;
  padding-bottom: 56px;
}
.hr-section-1 {
  margin-left: auto;
  margin-right: auto;
  width: 227px;
  height: 0px;
  border: 2px solid #edeff3;
}
.hr-section-1-desktop {
  visibility: hidden;
}

.box-img-1 {
  max-width: 100%;
  max-height: 355px;
  margin-left: auto;
  margin-right: auto;
}

.section-1-text {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.004em;
  color: blackTitleTextColor;
  margin: 0px;
  padding-bottom: 56px;
}
.box-img-1-desktop {
  display: none;
}
@include media-breakpoint-up(lg) {
  .section-1-title {
    text-align: left;
    font-size: 48px;
    line-height: 170%;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .box-img-1 {
    display: none;
  }
  .box-img-1-desktop {
    margin-top: 30px;
    display: block;
    max-height: 655px;
    max-width: 50%;
  }
  .section-1-text {
    padding-top: 26px;
    padding-bottom: 36px;
    font-size: 17px;
  }
  .hr-section-1 {
    margin-left: 0px;
  }
  .hr-section-1-desktop {
    visibility: visible;
  }
}
