@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
.section-2 {
  padding-bottom: 40px;
}
.box-img-2 {
  max-width: 100%;
  max-height: 234px;
}
.box-img-2-desktop {
  display: none;
}
.section-2-text {
  text-align: left;
  font-size: 17px;
  line-height: 32px;
  color: #45494f;
}

@include media-breakpoint-up(lg) {
  .section-2 {
    padding-top: 24px;
    padding-bottom: 66px;
  }
  .section-2-title {
    padding-top: 58px;
    padding-bottom: 24px;
    font-size: 20px;
  }

  .box-img-2 {
    display: none;
  }
  .box-img-2-desktop {
    display: block;
    max-width: 60%;
    max-height: 477px;
  }
}
