.section-1-title {
  margin: 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 170%;
  letter-spacing: -0.4px;
  color: #1652ac;
  padding-top: 56px;
  padding-bottom: 56px;
}
.hr-section-1 {
  margin-left: auto;
  margin-right: auto;
  width: 227px;
  height: 0px;
  border: 2px solid #edeff3;
}
.box-img-1 {
  max-width: 100%;
  max-height: 355px;
  // background: url('/images/img-1.jpg') no-repeat center;
  // background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.section-1-text {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.004em;
  color: #020303;
  margin: 0px;
  padding-bottom: 56px;
}
