.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-svg-1 {
  width: 1.2568359375em;
}

.icon-svg-2 {
  width: 0.892578125em;
}

.icon-svg-3 {
  width: 0.982421875em;
}

.icon-svg-4 {
  width: 1.6748046875em;
}

.icon-svg-5 {
  width: 1.36328125em;
}

.icon-svg-6 {
  width: 0.9638671875em;
}

.icon-svg-8 {
  width: 1.302734375em;
}

.icon-svg-9 {
  width: 0.9833984375em;
}

.icon-svg-10 {
  width: 0.9287109375em;
}
